body {
    background-color: #F7F7FF;
    font-family: 'Lato', sans-serif;
    color: #696D7D;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

h1,
h3,
#nombre {
    text-align: center;
    font-family: 'Helvetica Neue', sans-serif;
    margin-bottom: 20px;
}

h1 {
    font-size: 2.5em;
    color: #3C415C;
    text-shadow: 2px 2px 4px #B8C5D6;
    font-weight: bold;
    line-height: 1.2em;
}

#nombre {
    color: #3C415C;
    font-size: 3em;
    text-transform: uppercase;
    letter-spacing: 2px;
}

h3 {
    color: #3C415C;
    font-size: 1.6em;
    font-weight: lighter;
    margin-top: 30px;
}

button {
    color: #F7F7FF;
    background-color: #3C415C;
    border: none;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: #D0E1F9;
    color: #3C415C;
}

#respuesta {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    color: #3C415C;
    font-size: 1.2em;
    padding: 20px;
    border-radius: 4px;
    background: url("data:image/svg+xml,%3Csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%23ADD8E6' d='M44.7,-71.8C56.6,-61.8,64.2,-47.3,68.6,-32.8C73,-18.2,74.2,-3.7,73.3,11.3C72.3,26.2,69,41.6,60.1,52.2C51.1,62.8,36.5,68.5,21.6,72.5C6.6,76.5,-8.5,78.6,-23.9,76.3C-39.2,74.1,-54.6,67.4,-66.4,56.2C-78.2,45,-86.2,29.3,-89.5,12.3C-92.8,-4.6,-91.4,-22.8,-82.8,-36.2C-74.2,-49.5,-58.5,-58,-43.5,-66.6C-28.5,-75.2,-14.3,-83.9,1.1,-85.5C16.4,-87.1,32.7,-81.8,44.7,-71.8Z' transform='translate(100 100)' /%3E%3C/svg%3E") no-repeat center center;
    background-size: 50%; 
}

#tiempo {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #3C415C;
    font-size: 1.1em;
    padding: 15px;
    background-color: #B8C5D6;
    border-radius: 4px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.1);
    margin-bottom: 20px;
    text-align: center;
}
